@black: #1a1a1a;
@white: #f8f8f2;
@dark-gray: #1d1e19;
@very-light-gray: #c5c8c6;
@light-gray: #969896;
@gray: #373b41;

@blue: #62d8f1;
@green: #a4e400;
@magenta: #f92672;
@orange: #ff9700;
@purple: #af87ff;
@yellow: #ffff87;
